MULTICA_TARGET='__NAS_TARGET__'
MULTICA_NAS_IP='__NAS_IP__'
MULTICA_APP_PORT='__APP_PORT__'
MULTICA_DOCKER_PATH='__DOCKER_PATH__'
MULTICA_WATCHDOG_INTERVAL='60'
MULTICA_WATCHDOG_COOLDOWN='180'
MULTICA_WATCHDOG_LOG='/var/log/multica-watchdog.log'
MULTICA_WATCHDOG_LOCK='/var/run/multica-watchdog.lock'
MULTICA_WATCHDOG_LAST_RECOVERY='/var/run/multica-watchdog.last-recovery'
